@import "tailwindcss";
@plugin "@midudev/tailwind-animations"

@font-face {
  font-family: "Inter";
  src: url("/assets/inter.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-primary: #09f;
  --color-primary-light: #ceecff;
  --color-primary-dark: rbg(0, 22, 83);
  --color-ale: #f8dbff;
  --color-ale-light: #ceecff;

  --color-html: #e44d26;

  /* Fuentes */
  /* --font-sans: "Inter", system-ui, sans-serif; */
  --font-display: "Inter", system-ui, sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 350px;
}

.social-button {
  @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}
